__pycache__/
*.py[cod]
*.egg-info/

payloads/user/reconnaissance/pwnagotchi_pager/data/*
!payloads/user/reconnaissance/pwnagotchi_pager/data/custom_themes.example.json

*.pcap
*.pcapng
*.22000
*.tmp
*.bpf
*.nmea
loot/

.DS_Store
Thumbs.db
*.swp
